  
    <article class="service">
     <div class="container">
       <div class="row"> 
      <div class="col"><img src="./assets/images/home.jpeg" alt="" /> </div>
       
     </div> 
     </div>
    </article>
  

